# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.lock.bak

# IDE
.idea/
.vscode/
*.iml

# Platform (flutter create . orqali qayta yaratiladi)
# android/ va ios/ papkalarini saqlash uchun bu qatorlarni o'chiring

# Misc
*.log
.DS_Store
